body {
	background:
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}
header {
	background-image: url(../images/bluebanner2.jpg);
	background-repeat: no-repeat;
	height: 100px;
	width: 80%;
	margin-left: 10%;
	color: #fffaf0;
	padding-top: 15px;
}
#myName, #port {
	 text-shadow: 2px 2px 2px #000; 
	font-size: 1.5em;
	 margin: 10px 50px 2px 50px; 
}
#wrapper { /*border on either side of content */
	width: 80%;
	margin-left: 10%;	
	background-color:rgb(0,0,0);
	background-image:url(../images/darkscetch.png);
	background-position:
	top left;
	background-repeat:repeat;
	background-attachment:fixed;
}

#me { /*picture of me in header*/
	width: 80px;
	height: 80px;
	margin-left: 25px;
	float: left;
	border-radius: 50%
}
/*#tabs {
    width: 200px;
    font-size: 12px;
    background-color: blue;
}*/
/*Home page*/
.webDev { /*style to home page letters  */
	font-family: Impact, Charcoal, sans-serif;
	color: #000066;
	text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
	font-size: 1em;
	display: none;
	position: absolute;
}
/*all the moving letters on first page*/
#w {
	margin: 300px 0 0 250px;
	float: left;
}

#e, #b {
	margin-left: 15px;
	margin-top: 300px;
	float: left;
}
#d, #e2, #v, #e3, #l2, #o2, #p3, #e4, #r {
	margin-top: 300px;
	margin-right: 30px;
	float: left;
	z-index: 30;
}
#a, #p1, #p2, #l1, #i1, #c, #a2, #t, #i2, 
    #o1, #n, #s {
    margin-top: 300px;
	float: left;
    }
#lightning {
	margin-top: -400px;
	margin-right: 10px;
	float: right;
}
#lightning img {
	width: 600px;
}

/*About me page*/
#past, #current, #future {
	display: none;
}
.toggler { 
	width: 0;
	height: 0; 
	position: relative; 
}
#panel {
	margin-left: 130px;
}
#panel button { 
	margin-top: 30px; 
	margin-right: 30px;
	text-decoration: none; 
	background-color: #000066;
	border: 5px outset #a9a9a9;
	width: 250px;
	height: 40px;
	color: #fff;
	font-weight: bold;
	font-family: arial;
	font-size: 20px;
	text-align: center;
}
#panel button:hover {
	background-color: #00ffff;
	color: #000;
}
#pEffect { 
	padding: 0.4em; 
	position: relative; 
}
#pEffect h2, #cEffect h2, #fEffect h2 { 
	margin: 0; 
	padding: 0.4em; 
	text-align: center; 
}
#question {
	margin: 135px 425px;
}
#shadow {
	margin: 25px 350px;
	background-color: #000;
	border-radius: 50%;
	height: 60px;
	width: 300px;
	box-shadow: 0px 0px 200px #fff;
}
/*resume page*/
#resume {
	font-family: sans-serif;
	color: #dcdcdc;	
	margin-left: 30px;
}
#resume h1 {
	margin-left: 0px;
	border-bottom: 2px solid #a9a9a9;
}
#resume a {
	color: #00ffff;
}
#resume a:hover {
	color: #7fff00;
}
#printer {
	margin-top: -50px;
	margin-right: 30px;
	float: right;
}
#printer img {
		height: 40px;
}
.fancypdf {
	padding: 10px;
}
.res {
	background-color: #000066;
	color: #a9a9a9;
   	padding: 20px;
   	border: 5px ridge #a9a9a9;
}
.res p {
	margin-left: 150px;
}
.yrs {
	width: 150px;
}
aside {
	float: right;
	width: 18%;
}
/*interests*/
#accordion { 
   	width: 100%;
}
#racing {
   	background-image: url(../images/MMRBackground.jpg);
   	background-size: 130%;
   	background:    
   	 	-moz-opacity:0.7; /* Mozilla */
    	opacity: 0.7; /* CSS3 */
    color: #fff;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}
#sidebar {
    width: 33%;
    padding: 10px;
    float: left;
    background-color: #000066;
}
.wood {
	width: 43%;
	padding-top: 10px;
    margin-right: 30px;
    float: left;
}
.main {
    margin-left: 36%;
    padding: 10px 20px;
}
.bicycle {
	color: #a9a9a9;
	text-align: center;
	font-size: 1.5em;
}
.bicycle:hover {
	color: blue;
}
.bicycle li {
	font-size: .75em;
	text-align: left;
	display: none;
	background-color: #000066;
	margin-right: 450px;
}
.small {
	height: 75px;
}
title {
	font-size: 2em;
	font-weight: bold;
}
/*guest book*/
#guestbook {
	color: #fff;
}
#guest {
	width: 53%;
	margin: 20px 30px 0px 30px;
	padding: 10px;
    float: left;
	background-color: #121212;
	background: 
		-moz-opacity: .8;
		opacity: .8;
}
#final {
	margin: 14px 61%;
}
#jersey {
	height: 620px;
}
.button {
	height: 24px;
	width: 74px;
	border-radius: 12%;
	border: 3px ridge #a9a9a9;
	margin-left: 10%;
	background-color: #c0c0c0;
    background-image: -moz-linear-gradient(#ffd700, #c0c0c0, #ffd700);
    background-image: -o-linear-gradient(t#ffd700, #c0c0c0, #ffd700);
    background-image: -webkit-linear-gradient(#ffd700, #c0c0c0, #ffd700);
    background-image: linear-gradient(#ffd700, #c0c0c0, #ffd700);
}
label.error {
    height:20px;
    border: 1px ridge #99182c;
    margin-left:9px;
    padding:1px 5px 0px 5px;
    background-color: #ffd700;
    color: #000066;
   	display: block;
}
/**********************************  tabbedContent******************************/

.tabbed_content { /*makes frame of entire tab*/
	background-color: clear;
	width: 90%;
	/*height: 100%;*/
	margin-left: 20%;
	margin-top: -62px;
}
.tabs {
	height: 62px; /* height of tab space not the moving tab. */
	position: relative; /* makes the moving background position to it.  I can move the moving background using left property */
}
.tabs .moving_bg { /* moving tab over the words */
 	width: 10%; 
 	height: 9%;
 	margin-left: 15px;
 	margin-top: 20px;
 	background: #87cefa;    
   	 	-moz-opacity:0.5; /* Mozilla */
    	opacity: 0.5; /* CSS3 */
 	background-position: bottom left;
 	position: relative;
 	 -moz-border-radius: 10px; 
 	 -webkit-border-radius: 10px; 
 	border-radius: 10px; 
	padding: 10px;
	padding-bottom: 25px;
	position: absolute;
	z-index: 190;
 } 
.tabs .moving_bg:after { 
	content:""; 
	position: absolute; 
	top: 100%; 
	width: 0;
	height: 0; 
	margin-left: 70px;
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent; 
	border-top: 20px solid #87cefa; 
}
.tabs .tab_item { /* heading titles */
	display: block;
	/*margin-left: 5px;*/
	float: left;
	padding-top: 30px;
	width: 13%;
	color: #fff;
	text-align: center;
	z-index: 200;
	position: relative;
	cursor: pointer;
}
.tabbed_content .slide_content { /* content area */
	overflow: auto;
	background-color: #000;
	background:    
   	 	-moz-opacity:0.75; /* Mozilla */
    	opacity: 0.92; /* CSS3 */
	padding: 20px 0 20px 20px;
	position: relative;
	width: 750px;  /* this is connected to .tabslider ul width */
	margin-left: -5%;
	height: 750px;
}
.tabslider {
	width: 6000px; /* 1000px per tab heading */
}
.tabslider ul { /* actual content that slides with the hover method */
	float: left;
	width:710px;
	margin: 0px;
	padding: 0px;
	margin-right: 40px;
}
.tabslider ul li {
 	padding-bottom: 7px;
 	color: #fff;
 	list-style: none; /*removes the bullet pts. */
 }
